botToken=th1s1sth3b0tt0k3n
searchDir=/full/path/to/local/mirror/of/the/walls/
baseUrl=https://url.to.top.level/folder/on/mirror/without/trailing/slash
botOwner=42069
databaseDir=db
debug=false
lockToOwner=false
# Sentry DSN to record errors
sentryDsn=https://876ea19c78344b99b02314a152d07f59@o386697.ingest.sentry.io/5221258
