botToken=th1s1sth3b0tt0k3n
searchDir=/full/path/to/local/mirror/of/the/walls/
baseUrl=https://url.to.top.level/folder/on/mirror/without/trailing/slash
botOwner=42069
databaseFile=test.db
genericCaption=true
debug=false
lockToOwner=false
